.header {
  background-image: linear-gradient(to right bottom, rgba(80, 74, 74, 0.6), rgba(80, 74, 74, 0.6)),
    url("../../img/pexels-marcus-lenk-5721941.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
