$color-white: #fff;
$color-dark-light: #907a63;
$color-dark-lighter: #978778;
$color-dark-primary: #2f2b27;
$color-dark-secondary: #333;
$color-primary: #4e4841;
$color-orange: #f4ad54;
$color-orange-light: #febb64;
$color-orange-dark: #cf5931;
$color-blue: rgb(55, 151, 184);
$color-black: #1e1a17;
$color-red: #dc7543;
